* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: 0.5s ease all;
  background: #D3DEDC;
}
body.dark {
  background: #000;
}
body .ventana1 {
  background: #ACABAB;
  color: #000;
  width: 55%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 29px;
  min-height: 350px;
  left: 25%;
  border-radius: 9px;
  position: fixed;
  z-index: 5;
  top: 20%;
  display: none;
  border: 2px solid black;
}
body .ventana1 .icon {
  text-align: left;
  justify-content: center;
  margin-top: 25px;
}
body .ventana1 .icon img {
  position: absolute;
  width: 22px;
  height: 22px;
  right: 5px;
  top: 7px;
}
@media screen and (max-width: 399px) {
  body .ventana1 .icon p {
    font-size: 12px;
  }
}
@media screen and (max-width: 440px) {
  body .ventana1 .icon p {
    font-size: 13px;
    overflow: hidden;
  }
}
@media screen and (max-width: 399px) {
  body .ventana1 h1 {
    font-size: 15px;
    font-weight: 200px;
    overflow: hidden;
  }
  body .ventana1 body .ventana1 {
    padding: 10px;
  }
}
@media screen and (max-width: 440px) {
  body .ventana1 h1 {
    font-size: 18px;
    font-weight: 200px;
    overflow: hidden;
  }
}

header {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  z-index: 3;
  position: sticky;
}
header .contenedor {
  width: 90%;
  height: 59px;
  border-radius: 23px;
  background-color: #fff;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.3s ease all;
  box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
}
body.dark header .contenedor {
  background: #191A19;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
  transition: 0.5s ease all;
}
body.dark header .contenedor a {
  color: #fff;
}
body.dark header .contenedor a:hover {
  color: #D3DEDC;
}
header .contenedor .enlaces {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .contenedor .enlaces a {
  text-decoration: none;
  color: black;
  font-family: "Spline Sans", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
}
header .contenedor .enlaces .switch {
  background-color: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
header .contenedor .enlaces .switch::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
header .contenedor .enlaces .switch.active {
  background: #FFB319;
  color: black;
}
header .contenedor .enlaces .switch.active::after {
  right: 0;
  left: unset;
}
header .contenedor .enlaces .switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 17px;
  display: block;
  background: none;
  color: #fff;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
main .main-container {
  width: 95%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .main-container .card {
  width: 300px;
  height: 400px;
  margin: 15px 20px 10px 20px;
  border-radius: 9px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body.dark main .main-container .card {
  background: #191A19;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
  transition: 0.5s ease all;
}
main .main-container .card .cover img {
  width: 300px;
  height: 330px;
  overflow: hidden;
  border-radius: 9px 9px 0 0;
}
main .main-container .card .cover .botones_description {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
main .main-container .card .cover .botones_description a {
  width: 100px;
  height: 30px;
  text-decoration: none;
  background: #343d5b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  font-family: "Spline Sans", sans-serif;
}
main .main-container .card:hover {
  transform: translateY(-9px);
  transition: 0.5s ease all;
}

footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 10px;
}
footer .enlaces {
  width: 90%;
  height: 70px;
  border-radius: 9px;
  background-color: #fff;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
footer .enlaces h3 {
  font-family: "Spline Sans", sans-serif;
  margin-right: 10px;
}
footer .enlaces li a {
  margin: 0 10px 0 10px;
  font-size: 22px;
  color: #343d5b;
}
body.dark footer .enlaces {
  background: #191A19;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
  transition: 0.5s ease all;
}
body.dark footer .enlaces h3, body.dark footer .enlaces a {
  color: #D3DEDC;
}
body.dark footer .enlaces h3:hover, body.dark footer .enlaces a:hover {
  color: #fff;
}

/*# sourceMappingURL=estilos.css.map */
